body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d3250;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.main-nav ul {
    font-family: "Lora", serif;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul li a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    color: #efe6d5;
}

.main-nav ul li a:hover {
    color: #e73213;
}

.search-bar input {
    padding: 10px;
    border-radius: 20px;
    border: 4px solid #9dbeb7;
}

section {
    padding: 30px;
}

h1 {
    color: #e73213;
}

h2 {
    font-family: "Merriweather Sans", sans-serif;
    color: #388e3c;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 2px solid #388e3c;
    padding-bottom: 10px;
}

.articles-flex {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha, se necessário */
    gap: 20px; /* Espaçamento entre os cards */
    justify-content: flex-start; /* Alinha os cards à esquerda */
}

.article-card {
    flex: 1 1 calc(33.333% - 20px); /* Define que cada card ocupará 1/3 do container menos 20px */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #fff; /* Cor de fundo para melhor contraste */
    color: #212121;
    box-sizing: border-box; /* Inclui o padding dentro da largura do card */
}

.article-card img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

p {
    font-family: "Lora", serif;
    font-size: 16px;
    color: #212121;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #388e3c;
    color: white;
    margin-top: 20px;
}
